Player:
  MaxPower: 100.0
  InitialPower: 10.0
  MaxDaysInactivity: 20
  PowerPerDeath: -1.0
  PowerPerHour: 2.0
  RegenerateOffline: false
  TeleportationWarmup: 10
  TeleportationCooldown: 60
Chat:
  globalFormat: "(%NATION%)(%SETTLEMENT%)"
  nationFormat: "(%SETTLEMENT%)"
  settlementFormat: ""
  allyFormat: "(%NATION%)(%SETTLEMENT%)"
  truceFormat: "(%NATION%)(%SETTLEMENT%)"
World:
  PowerGainEnabled:
    - world
    - world_the_nether
    - world_the_end
  PowerLossEnabled:
    - world
    - world_the_nether
    - world_the_end
Nation:
  BankMaxBalance: 1000000000
  MaxAllies: -1
  MaxTruces: -1
  MaxPlayers: 50
  MinimumRequiredPlayers: 5
  DeleteAfterDays: 14 #Number of days to delete a nation after its member count falls below minimum required players or nation lacks a capital
  ForbiddenNames: #Names that are forbidden to use for nations or settlements
  ForbiddenCommands:
      Enemy:
        - tpa
        - home
        - warp
      Neutral:
        - tpa
        - home
        - warp
  Ranks: #Default
    Leader:
      priority: 1
      symbol: '**'
      permissions: []
    Officer:
      priority: 10
      symbol: '*'
      permissions: []
    Member:
      priority: 100
      symbol: '+'
      permissions: []
    Recruit:
      priority: 1000
      symbol: '-'
      permissions: []

  RelationColors:
    WILDERNESS: DARK_GREEN
    ENEMY: RED
    NEUTRAL: WHITE
    ALLY: DARK_PURPLE
    TRUCE: LIGHT_PURPLE
    OWN: GREEN
    WARZONE: DARK_RED
    SAFEZONE: GOLD
  DisableDamageFor: #Relations to disable damage for
    - OWN
    - ALLY
    - TRUCE
  DamageReductionPercentage:
    ENEMY: 50.0
Settlement:
  MinimumDistance: 4
  TerritoryPerPlayer: 10
  Ranks:
    Mayor:
      priority: 1
      symbol: '**'
    Councellor:
      priority: 10
      symbol: '*'
    Citizen:
      priority: 100
      symbol: '+'
Siege:
  Enabled: true
  Cooldown: 3
  RequiredExposurePrecent: 50.0
  CostPercentage: 3.0;
  MaxCost: 5000000
  RequiredRelations:
    - ENEMY